html {
  background-color: var(--html-bg-color);
}

html,
body,
#root,
.app {
  height: 100vh;
}

body {
  font-family: monospace;
}

.navbar {
  height: var(--header-height);
}

.main {
  height: calc(100vh - (2 * var(--header-height)));
}

.aside {
  height: 100%;
  overflow-y: scroll;
}

.klinky-link {
  text-decoration-thickness: 2px;
  text-underline-offset: 1.5px;
}
