html {
  background-color: var(--html-bg-color);
}

html,
body,
#root,
.app {
  min-height: 100vh;
}

body {
  font-family: monospace;
}

.navbar {
  height: var(--header-height);
}

.main {
  height: calc(100vh - (var(--golden-ratio) * var(--header-height)));
  margin-bottom: calc(var(--header-height) / var(--golden-ratio));
}

.links-card {
  height: 100%;
  overflow-y: scroll;
}

.klinky-link {
  text-decoration-thickness: 2px;
  text-underline-offset: 1.5px;
}

.gap-inherit {
  gap: inherit;
}

.list-row.outline::after {
  display: none;
}

.grid-switch {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
  position: relative;
}

.grid-top {
  grid-column-start: 1;
  grid-row-start: 1;
  position: relative;
  z-index: 10;
}
.grid-top.grid-switch-off {
  pointer-events: none;
  visibility: hidden;
  z-index: 0;
}

.grid-bottom {
  align-self: end;
  grid-column-start: 1;
  grid-row-start: 2;
}
