.bg-grid-pattern {
  --bg-grid-color: 99, 101, 241;
  --bg-dot-size: 1.5px;
  --bg-grid-opacity: 0.1;
  --bg-dot-size-half: calc(var(--bg-dot-size) / 2);
  --bg-dot-size-lg: calc(var(--bg-dot-size) * 1.5);
  background-attachment: fixed;
  background-image:
    linear-gradient(
      to right,
      rgba(var(--bg-grid-color), var(--bg-grid-opacity)) var(--bg-dot-size),
      transparent var(--bg-dot-size)
    ),
    linear-gradient(
      rgba(var(--bg-grid-color), var(--bg-grid-opacity)) var(--bg-dot-size),
      transparent var(--bg-dot-size)
    ),
    radial-gradient(
      rgba(var(--bg-grid-color), var(--bg-grid-opacity)) var(--bg-dot-size-lg),
      transparent var(--bg-dot-size-lg)
    );
  background-position:
    calc(50% - var(--bg-dot-size-half)) calc(50% - var(--bg-dot-size-half)),
    calc(50% - var(--bg-dot-size-half)) calc(50% - var(--bg-dot-size-half)),
    50% 50%;
  background-size:
    var(--bg-size-x2) var(--bg-size-x2),
    var(--bg-size-x2) var(--bg-size-x2),
    var(--bg-size) var(--bg-size);
  height: var(--app-height);
  margin-bottom: calc(var(--app-height) * -1);
  width: 100vw;
  z-index: -1;
}
