@import 'tailwindcss';
@plugin "daisyui" {
  themes: light;
}

:root {
  --bg-size: 2rem;
  --bg-size-x2: calc(var(--bg-size) * 2);
  --header-height: var(--bg-size-x2);
  --html-bg-color: rgba(229, 229, 247, 0.2);
  --golden-ratio: 1.618;
}
