:root {
  --theme-color: #7c7cff;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  overscroll-behavior: auto;
  padding: 0;
  width: 100vw;
}

html {
  -webkit-locale: 'en';
}

body {
  color: #475569;
  font-family: monospace;
}

#root {
  position: relative;
}
